html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #338bffaa;
}

.HeaderMain{
  text-align: left;
}

.HeadingImage {
  position: absolute;
  top: 15px;
  right: 0;
  width: 50%;
  width: 90px;
  height: 90px;
}

.HeaderMain, h1, h2, h3, h4, h5, h6{
  margin: 1px;
  color: #ffffff;
}

h1{
  color: #ffffff99;
}

.ButtonYES{
  color: #b0b0b0;
  background-color: #0f1d6133;
  border-radius: 24px;
  padding-right: 65px;
  padding-left: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: none;
   transition-duration: 0.1s;
}

.ButtonYES:hover{
  background-color: #294cff33;
  cursor:pointer;
}

.ButtonYES:active{
  background-color: #6229ff33;
}